<!DOCTYPE html>
<html>
<head>
  <title>Book Collection App - Delete Book</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <div class="logo">
      <%= link_to "books#index" do %>
        <%= image_tag 'book.png', alt: 'Logo' %>
      <% end %>
    </div>
    <nav>
      <ul>
        <li><%= link_to 'Home', books_path %></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete this book?</p>
    <%= form_with url: book_path(@book), method: :delete do %>
      <%= submit_tag 'Yes, Delete', class: 'btn btn-danger' %>
      <%= link_to 'Cancel', books_path, class: 'btn btn-secondary' %>
    <% end %>
  </main>

  <footer>
    <p>Copyrights @Uzma Hamid 2024</p>
  </footer>
</body>
</html>
