<!DOCTYPE html>
<html>
<head>
  <title>Book Collection App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'book.png', alt: 'Logo' %>
      <% end %>
    </div>
    <nav>
      <ul>
        <li><%= link_to 'About', "#about" %></li>
        <li><%= link_to 'Contact', "#contact" %></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Welcome to the Book Collection App</h1>
    <%= link_to 'View All Books...', books_path, class: 'btn btn-custom' %>
    <p>Top 6 recently added books:</p>

    <div class="book-grid">
      <% @books.each do |book| %>
        <div class="book-item">
          <h2><%= book.title %></h2>
        </div>
      <% end %>
    </div>


  </main>

  <footer>
    <p>Copyrights @Uzma Hamid 2024</p>
  </footer>
</body>
</html>
